		/*Fonts*/
	/*@import always first */
	
	@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
	@font-face {
		font-family: "NewRodin";
		src: url('NewRodin.eot');
		src: url('NewRodin.eot?#iefix') format('embedded-opentype'), url('NewRodin.woff') format('woff'), url('NewRodin.ttf') format('truetype'), url('NewRodin.svg#svgFontName') format('svg');
	}
	
	@font-face {
		font-family: "Futura Oblique";
		src: url('Futura Oblique.eot');
		src: url('Futura Oblique.eot?#iefix') format('embedded-opentype'), url('Futura Oblique.woff') format('woff'), url('Futura Oblique.ttf') format('truetype'), url('Futura Oblique.svg#svgFontName') format('svg');
	}
	
	@font-face {
		font-family: "GAMECUBE";
		src: url('GameCube.eot');
		src: url('GameCube.eot?#iefix') format('embedded-opentype'), url('GameCube.woff') format('woff'), url('GameCube.ttf') format('truetype'), url('GameCube.svg#svgFontName') format('svg');
	}
	
	@font-face {
		font-family: "Sakkal Majalla";
		src: url('Sakkal MajallaicaNeue-Thin.eot');
		src: url('Sakkal Majalla.eot?#iefix') format('embedded-opentype'), url('Sakkal Majalla.woff') format('woff'), url('Sakkal Majalla.ttf') format('truetype'), url('Sakkal Majalla.svg#svgFontName') format('svg');
	}

body{
	margin: 0;
}
	/*Welcome Page*/
	
	.Welcome {
		background: url(FieldZ.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	#logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
	}
	
	.enter {
		color: #FFF;
		margin: 0 auto;
		font-size: 4vw;
		position: relative;
		text-align: center;
		font-family: GAMECUBE;
	}
	
	.enter:before,
	.enter:after {
		content: attr( data-text);
		margin-left: 35.9%;
		top: 0;
		overflow: hidden;
		position: absolute;
		clip: rect( 0, 900px, 0, 0);
	}
	
	.enter:before {
		left: -2px;
		animation: glitch-animation-1 3s infinite linear alternate-reverse;
		text-shadow: 1px 0 blue;
	}
	
	.enter:after {
		left: 2px;
		animation: glitch-animation-2 2s infinite linear alternate-reverse;
		text-shadow: -1px 0 red;
	}
	
	@keyframes glitch-animation-1 {
		0% {
			clip: rect(42px, 9999px, 44px, 0);
		}
		5% {
			clip: rect(12px, 9999px, 59px, 0);
		}
		10% {
			clip: rect(48px, 9999px, 29px, 0);
		}
		15.0% {
			clip: rect(42px, 9999px, 73px, 0);
		}
		20% {
			clip: rect(63px, 9999px, 27px, 0);
		}
		25% {
			clip: rect(34px, 9999px, 55px, 0);
		}
		30.0% {
			clip: rect(86px, 9999px, 73px, 0);
		}
		35% {
			clip: rect(20px, 9999px, 20px, 0);
		}
		40% {
			clip: rect(26px, 9999px, 60px, 0);
		}
		45% {
			clip: rect(25px, 9999px, 66px, 0);
		}
		50% {
			clip: rect(57px, 9999px, 98px, 0);
		}
		55.0% {
			clip: rect(5px, 9999px, 46px, 0);
		}
		60.0% {
			clip: rect(82px, 9999px, 31px, 0);
		}
		65% {
			clip: rect(54px, 9999px, 27px, 0);
		}
		70% {
			clip: rect(28px, 9999px, 99px, 0);
		}
		75% {
			clip: rect(45px, 9999px, 69px, 0);
		}
		80% {
			clip: rect(23px, 9999px, 85px, 0);
		}
		85.0% {
			clip: rect(54px, 9999px, 84px, 0);
		}
		90% {
			clip: rect(45px, 9999px, 47px, 0);
		}
		95% {
			clip: rect(37px, 9999px, 20px, 0);
		}
		100% {
			clip: rect(4px, 9999px, 91px, 0);
		}
	}
	
	@keyframes glitch-animation-2 {
		0% {
			clip: rect(63px, 9999px, 100px, 0);
		}
		5% {
			clip: rect(52px, 9999px, 74px, 0);
		}
		10% {
			clip: rect(72px, 9999px, 85px, 0);
		}
		15.0% {
			clip: rect(75px, 9999px, 5px, 0);
		}
		20% {
			clip: rect(67px, 9999px, 61px, 0);
		}
		25% {
			clip: rect(14px, 9999px, 79px, 0);
		}
		30.0% {
			clip: rect(1px, 9999px, 66px, 0);
		}
		35% {
			clip: rect(86px, 9999px, 30px, 0);
		}
		40% {
			clip: rect(23px, 9999px, 98px, 0);
		}
		45% {
			clip: rect(85px, 9999px, 72px, 0);
		}
		50% {
			clip: rect(71px, 9999px, 75px, 0);
		}
		55.0% {
			clip: rect(2px, 9999px, 48px, 0);
		}
		60.0% {
			clip: rect(30px, 9999px, 16px, 0);
		}
		65% {
			clip: rect(59px, 9999px, 50px, 0);
		}
		70% {
			clip: rect(41px, 9999px, 62px, 0);
		}
		75% {
			clip: rect(2px, 9999px, 82px, 0);
		}
		80% {
			clip: rect(47px, 9999px, 73px, 0);
		}
		85.0% {
			clip: rect(3px, 9999px, 27px, 0);
		}
		90% {
			clip: rect(26px, 9999px, 55px, 0);
		}
		95% {
			clip: rect(42px, 9999px, 97px, 0);
		}
		100% {
			clip: rect(38px, 9999px, 49px, 0);
		}
	}
	/* Main */
	
	.mainpg {
		background: url(Worlds.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	* ul li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	a {
		color: aliceblue;
		text-decoration: none;
		margin: 0;
		-webkit-font-smoothing: antialiased;
		line-height: 1.4em;
		font-weight: normal;
		display: block;
		text-decoration: none;
		font-family: NewRodin, Josefin Sans;
		font-size: 30px;
	}
	
	span {
		line-height: 1em;
	}
	
	nav.Navmenu {
		position: absolute;
		top: 29px;
		right: 115px;
	}
	
	nav.Navmenu li {
		float: left;
		margin-left: 20px;
	}
	

	body[data-page="main"] nav.Navmenu .nav-main span,
	body[data-page="main"] nav.Navmenu .nav-main span::before,
	body[data-page="quotes"] nav.Navmenu .nav-quotes span,
	body[data-page="quotes"] nav.Navmenu .nav-quotes span::before,
	body[data-page="world"] nav.Navmenu .nav-world span,
	body[data-page="world"] nav.Navmenu .nav-world span::before,
	body[data-page="classes"] nav.Navmenu .nav-classes span,
	body[data-page="classes"] nav.Navmenu .nav-classes span::before,
	body[data-page="story"] nav.Navmenu .nav-story span,
	body[data-page="story"] nav.Navmenu .nav-story span::before,
   body[data-page="Weapons"] nav.Navmenu .nav-weapons span,
	body[data-page="Weapons"] nav.Navmenu .nav-weapons span::before,
	body[data-page="about"] nav.Navmenu .nav-about span,
	body[data-page="about"] nav.Navmenu .nav-about span::before,
	body[data-page="credits"] nav.Navmenu .nav-credits span,
	body[data-page="credits"] nav.Navmenu .nav-credits span::before {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	
	.underline {
		position: relative;
	}
	
	.underline:hover span,
	.underline:hover span::before {
		-webkit-transform: translateX(0%);
		-moz-transform: translateX(0%);
		-ms-transform: translateX(0%);
		-o-transform: translateX(0%);
		transform: translateX(0%);
	}
	
	.underline span {
		position: absolute;
		bottom: -3px;
		left: 0;
		width: 100%;
		height: 1px;
		overflow: hidden;
		-webkit-transform: translateX(-101%);
		-moz-transform: translateX(-101%);
		-ms-transform: translateX(-101%);
		-o-transform: translateX(-101%);
		transform: translateX(-101%);
		will-change: transform;
		-webkit-transition: 0.48s cubic-bezier(1, 0, 0, 1);
		-moz-transition: 0.48s cubic-bezier(1, 0, 0, 1);
		transition: 0.48s cubic-bezier(1, 0, 0, 1);
	}
	
	.underline span::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-transform: translateX(101%);
		-moz-transform: translateX(101%);
		-ms-transform: translateX(101%);
		-o-transform: translateX(101%);
		transform: translateX(101%);
		background: linear-gradient(-90deg, #ff00cc, #333399);
		background: -webkit-linear-gradient(-90deg, #ff00cc, #333399);
		will-change: transform;
		-webkit-transition: 0.48s cubic-bezier(1, 0, 0, 1);
		-moz-transition: 0.48s cubic-bezier(1, 0, 0, 1);
		transition: 0.48s cubic-bezier(1, 0, 0, 1);
	}
	
	h3 {
		color: cyan;
		text-align: center;
		padding-top: 25%;
		margin: 0;
		font-family: NewRodin, Josefin Sans, Verdana, Geneva, sans-serif;
		font-size: 2vw;
	}
	
	h3#yourworld {
		float: left;
	}
	
	h3#yourloveones {
		float: right;
	}
	
	.aboutpg {
		background-color: black;
	}
	
	.nav-selected {
		color: lime;
	}
	/*aboutpage*/
	
	aboutpg {
		background-color: black;
	}
	
	.abouth1 {
		font-family: GAMECUBE;
		color: cyan;
	}
	
	p {
		font-family: Futura Oblique;
		color: ghostwhite;
		font-size: 20px;
	}
	
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0, 0, 0);
		background-color: rgba(0, 0, 0, 0.4);
	}
	
	.modal-content {
		background-color: rgba(0, 0, 0, 0.68);
		margin: 15% auto;
		padding: 20px;
		border: 3px solid cyan;
		width: 80%;
	}
	
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
		font-family: NewRodin;
	}
	
	.close:hover,
	.close:focus {
		color: red;
		text-decoration: none;
		cursor: pointer;
	}
	
	#REAPbtn {
		margin-top: 22em;
		margin-left: 15em;
	}
	
	button {
		background: #000;
		position: relative;
		border: 2px solid cyan;
		font-size: 21px;
		color: #51DBAF;
		font-family: NewRodin;
		text-align: center;
		padding: 20px;
		cursor: pointer;
		overflow: hidden;
		-webkit-transition-duration: 0.6s;
		transition-duration: 0.6s;
	}
	
	button:after {
		content: "";
		background-color: #f1f1f1;
		padding-top: 200%;
		padding-left: 110%;
		display: block;
		position: absolute;
		margin-left: -20px !important;
		/*for the effect to start at the left side of the button and not somewhere in between*/
		margin-top: -140%;
		opacity: 0;
		transition: all 1.4s;
	}
	
	button:active:after {
		margin: 0;
		opacity: 1;
		padding: 0;
		transition: 0s
	}
	/*classes*/
	
	.classpg {
		background: black;
	}
	
	#h1Classes {
		margin-top: 6em;
	}
	
	.heading {
		font-family: GAMECUBE;
		font-style: oblique;
		color: #00FFFF;
	}
	
	h2 {
		font-family: NewRodin;
		font-style: oblique;
		color: #FFF;
		margin-top: 10px;
		padding: 0;
	}
	
	#hidden {
		color: rgb(178, 34, 34);
	}
	
	.h3class {
		margin: 0;
		padding: 0;
	}
	
	.line {
		display: block;
		height: 1px;
		background: #00FFFF;
		background: -webkit-radial-gradient(#00FF00, #00FFFF, #0000FF);
		background: -o-radial-gradient(#00FF00, #00FFFF, #0000FF);
		background: -moz-radial-gradient(#00FF00, #00FFFF, #0000FF);
		background: radial-gradien(#00FF00, #00FFFF, #0000FF);
	}
	/*Story*/
	
	.storypg {
		background-color: black;
	}
	
	#storyH1 {
		font-family: GAMECUBE;
		color: #00FFFF;
		font-size: 50px;
		text-align: center;
		padding-top: 140px;
		margin: 0;
	}
	
	#story-type {
		font-size: 25px;
		color: ghostwhite;
		font-family: Futura Oblique;
	}
	/*World*/
	
	.worldbg {
		background-color: black;
	}
	
	.worldHeading2 {
		font-family: NewRodin;
		color: #00FFFF;
		font-size: 30px
	}
	
	#divWorld {
		padding-top: 155px;
		margin: 0;
	}
	/*Quotes*/
	
	.quotespg {
		background: black;
	}
	
	.quoteH2 {
		margin-top: 200px;
		font-size: 2vw;
	}
	
	cite {
		color: white;
		font-family: Futura Oblique;
		margin-left: 20em;
		font-size: 20px;
	}
	
	.ytVid {
		margin-left: 320px;
	}
	
	blockquote {
		padding-top: 40px;
	}
	
	p.quote {
		font-family: Sakkal Majalla;
		font-size: 36px;
		font-weight: lighter;
	}
	
	.opinion {
		font-size: 26px;
	}
	/*Credits*/
	
	.creditspg {
		background-color: #000;
	}
	
	#stage {
		width: 1000px;
		height: 600px;
		overflow: hidden;
		margin-top: 102px;
		margin-right: 112px;
		margin-left: 115px;
		margin-bottom: 2px;
		-webkit-perspective-origin: center 300px;
		-webkit-perspective: 800;
	}
	
	#creditLogo {
		position: absolute;
		top: 100px;
		width: 1000px;
		opacity: 0;
		-webkit-transform-origin: center center;
		-webkit-animation: logoCred 25s linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 12s;
		-webkit-animation-timing-function: ease-in;
	}
	
	@keyframes logoCred {
		0% {
			-webkit-transform: translateZ(0);
			opacity: 0;
		}
		0.1% {
			-webkit-transform: translateZ(0);
			opacity: 1;
		}
		50% {
			-webkit-transform: translateZ(-50000px);
			opacity: 1;
		}
		60% {
			-webkit-transform: translateZ(-60000px);
			opacity: 0;
		}
		100% {
			-webkit-transform: translateZ(-100000px);
			opacity: 0;
		}
	}
	
	#faraway {
		position: absolute;
		color: rgb(75, 213, 238);
		font-family: NewRodin;
		font-size: 51px;
		line-height: 1.5em;
		top: 200px;
		left: 190px;
		opacity: 0;
		-webkit-animation: fade-in-out 6s linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 5s;
	}
	
	@keyframes fade-in-out {
		0% {
			opacity: 0;
		}
		16% {
			opacity: 1;
		}
		84% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
	
	#crawl {
		text-align: center;
		font-size: 40px;
		opacity: 0;
		-webkit-animation: crawl 120s linear;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-delay: 16s;
		-webkit-transform-style: preserve-3d;
	}
	
	.title,
	.short,
	.pCred {
		font-family: NewRodin;
		color: #ff7;
	}
	
	@keyframes crawl {
		0% {
			-webkit-transform: rotateX(80deg) translateZ(200px) translateY(1100px);
			opacity: 1;
		}
		40% {
			-webkit-transform: rotateX(80deg) translateZ(200px) translateY(-340px);
			opacity: 1;
		}
		80% {
			-webkit-transform: rotateX(80deg) translateZ(200px) translateY(-1780px);
			opacity: 0;
		}
		100% {
			-webkit-transform: rotateX(80deg) translateZ(200px) translateY(-2500px);
			opacity: 0;
		}
	}
	
	#crawl p {
		white-space: pre;
	}
	
	#crawl p.title {
		font-family: NewRodin;
		font-size: 87px;
		-webkit-transform: scaleX(0.6);
	}
	/*For phone portrait*/
	
	@media only screen and (max-width: 414px) {
		h3 {
			margin-top: 47%;
			font-size: 70%;
		}
		#logo img {
			width: 258px;
			height: 258px
		}
	}
	/*Access*/
#video-bg
{
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: auto;
	z-index: -100;
	overflow: hidden;
}

#pwdinput
{
	position: fixed;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -100%);
	max-width: 18vw;
	max-height: 3vh;
	width: 100%;
	margin-left: 22px;
	margin-top: 5px;
	color: #00ffff;
	font-size: 20px;
	background-color: #313131;
   border: 3px solid transparent;
	 -moz-border-image: -moz-linear-gradient(left, rgb(0,255,255),  0%, rgb(0,255,192) 100%);
	  -webkit-border-image: -webkit-linear-gradient(left, rgb(0,255,255) 0%,  rgb(0,255,192)100%);
	 border-image: linear-gradient(to right, rgb(0,255,255) 0%, rgb(0,255,192) 100%);
	  border-image-slice: 1;
	text-align: center;
}

/*alert box*/
.alert{
	padding: 5px;
	background: rgb(41,41,41);
	color: #51DBAF;
	font-family: Futura;
	text-align: center;
	margin-bottom: 15px;
	margin-left: 23em;
   cursor: pointer;
	width: 44vw;
}

.btnClose{
	float: right;
	margin-left: 15px;
	transition: 0.3s;
	color: white;
}

.btnClose:hover{
	color: red;
}

/*Weapons*/
.weaponpg{
background-color: black;
}

.weaponpg > div
{
	width: 500px;
	margin: 50px auto;
	text-align: center;
}

.container {
		width: 500px;
		height: 300px;
		text-align: left;
		margin: 60px auto;
		-webkit-perspective: 1000px;
		-webkit-perspective-origin: 50% -25%;
	}

		.carousel {
			-webkit-transform-style: preserve-3d;
			-webkit-transform: translateZ(-540px);
			position: relative;
			margin: 0;
			width: 500px;
			height: 300px;
			-webkit-transition: 1s;
		}

			.carousel img {
				position: absolute;
				opacity: .5;
				-webkit-transition: 1s;
        width: 500px;
        height: 300px;
			}

				
.carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(.8); }
.carousel img:nth-child(2) { -webkit-transform: rotateY(32deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(3) { -webkit-transform: rotateY(64deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(4) { -webkit-transform: rotateY(96deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(5) { -webkit-transform: rotateY(128deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(6) { -webkit-transform: rotateY(160deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(7) { -webkit-transform: rotateY(192deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(8) { -webkit-transform: rotateY(224deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(9) { -webkit-transform: rotateY(256deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(10) { -webkit-transform: rotateY(288deg) translateZ(540px) scale(.8); }
.carousel img:nth-child(11) { -webkit-transform: rotateY(320deg) translateZ(540px) scale(.8); }


	label {
		cursor: pointer;
		background: rgb(41,41,41);
		display: inline-block;
		border-radius: 50%;
		width: 30px;
		padding-top: 7px;
		height: 23px;
		font: 1em Futura;
		color: white;
	}

	label:hover {
		background: #51DBAF;
	}

	input {
		position: absolute;
		left: -9999px;
	}

	input:checked + label {
		font-weight: bold;
		background: #51DBAF;
	}

input[value="1"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px); }
input[value="2"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-32deg); }
input[value="3"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-64deg); }
input[value="4"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-96deg); }
input[value="5"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-128deg); }
input[value="6"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-160deg); }
input[value="7"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-192deg); }
input[value="8"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-224deg); }
input[value="9"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-256deg); }
input[value="10"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-288deg); }
input[value="11"]:checked ~ .container .carousel { -webkit-transform: translateZ(-540px) rotateY(-320deg); }

		input[value="1"]:checked ~ .container .carousel img:nth-child(1) { -webkit-transform: translateZ(540px) scale(1); opacity: 1; }
		input[value="2"]:checked ~ .container .carousel img:nth-child(2) { -webkit-transform: rotateY(32deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="3"]:checked ~ .container .carousel img:nth-child(3) { -webkit-transform: rotateY(64deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="4"]:checked ~ .container .carousel img:nth-child(4) { -webkit-transform: rotateY(96deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="5"]:checked ~ .container .carousel img:nth-child(5) { -webkit-transform: rotateY(128deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="6"]:checked ~ .container .carousel img:nth-child(6) { -webkit-transform: rotateY(160deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="7"]:checked ~ .container .carousel img:nth-child(7) { -webkit-transform: rotateY(192deg) translateZ(540px) scale(1); opacity: 1; }
		input[value="8"]:checked ~ .container .carousel img:nth-child(8) { -webkit-transform: rotateY(224deg) translateZ(540px) scale(1); opacity: 1; }
input[value="9"]:checked ~ .container .carousel img:nth-child(9) { -webkit-transform: rotateY(256deg) translateZ(540px) scale(1); opacity: 1; }
input[value="10"]:checked ~ .container .carousel img:nth-child(10) { -webkit-transform: rotateY(288deg) translateZ(540px) scale(1); opacity: 1; }
input[value="11"]:checked ~ .container .carousel img:nth-child(11) { -webkit-transform: rotateY(320deg) translateZ(540px) scale(1); opacity: 1; }

.slides
{
	padding-top: 10em;
}
	/*For phone landscape*/
	
	@media only screen and (min-width: 568px) and (max-width: 767px) {
		h3 {
			margin-top: -3%;
			font-size: 100%;
		}
		#logo img {
			width: 264px;
			height: 264px
		}
		/*For tablet*/
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			h3 {
				margin-top: 30%;
				font-size: 150%;
			}
		}